//<1200
@media #{$mediam} {
	header {
		padding: 0px 50px;
	}

	main {
		padding: 45px 50px 0px;

		&:after {
			width: calc(100% - 100px);
		}

		section {
			.item {
				padding: 15px 15px 0px;

				img {
					width: 45px;
					height: 45px;
				}

				.item-overview {
					margin: 0px 0px 0px -15px;
				}
				.item-buy {
					margin: 0px -15px 0px 0px;
				}
				
			}
		}
	}
}

//tablet
@media #{$medias} {

	header {
		justify-content: space-between;
		padding: 0px 62px;
		nav {
			ul {
				display: none;
			}

			ul.mobile-menu.opened {
					display: block;
					width: 200px;
					background-color: #ffffff;
					padding: 15px;
					border: 1px solid $line-color;
					flex-direction: column;
					justify-content: space-around;
					flex-wrap: wrap;
					height: auto;
					z-index: 999!important;
					position: absolute;
					top: 50px;
					right: 10%;

					li {
						margin-right: 0px;
					}
				}

			.mobile-menu.mm-btn {
					display: block;
					cursor: pointer;
					background: $mmenu;
					height: 16px;
					width: 21px;
					padding: 0px;
					border: none;
					margin-left: auto;

					li {
						display: none;
					}
				}
		}
	}

	main {
		padding: 45px 62px 0px;

		&:after {
			width: calc(100% - 124px);
		}
		.title {
			#table, #card {
				display: none;
			}
		}

		section {
			justify-content: space-around;
			.item {
				flex: 0 1 44%;

				.item-price {
					padding: 30px 0px 35px;
				}
			}
		}
	
	}

	footer {
		padding: 30px 0px 0px 60px;

		a {
			display: none;
		}
	}
	
}



//mobile
@media #{$mediaxs} {
	header {
		justify-content: space-between;
		padding: 0px calc((100% - 375px)/2);
		img {
			margin: 28px 0px 28px 0px;
		}
		nav {
			ul {
				display: none;
			}

			ul.mobile-menu.opened {
					display: block;
					width: 200px;
					background-color: #ffffff;
					padding: 15px;
					border: 1px solid $line-color;
					flex-direction: column;
					justify-content: space-around;
					flex-wrap: wrap;
					height: auto;
					z-index: 999!important;
					position: absolute;
					top: 50px;
					right: 120px;

					li {
						margin-right: 0px;
					}
				}

			.mobile-menu.mm-btn {
					display: block;
					cursor: pointer;
					background: $mmenu;
					height: 16px;
					width: 21px;
					padding: 0px;
					border: none;
					margin-left: auto;

					li {
						display: none;
					}
				}
		}
	}

	main {
		max-width: 375px;
		margin: 0 auto;
		padding: 45px 0px;
		text-align: center;

		&:after {
			width: calc(100% - 50px);
		}

		.title {
			#table, #card {
				display: none;
			}

			h1 {
				width: 100%;
			}
		}

		section {
			justify-content: space-around;
			.item {
				flex: 0 1 75%;

				.item-header {
					padding: 8px 0px 0px 7px;
					h3 {
						text-align: left;
					}
				}

				p {
					text-align: left;
				}

				.item-price {
					padding: 30px 0px 35px;
				}
			}
		}
	}

	footer {
		padding: 30px 0px;

		a {
			display: none;
		}

		p {
			max-width: 375px; 
			margin: 0 auto;
			text-align: center;
		}
	}
	
}

	
