$font-color: rgba(0, 0, 0, 0.7);
$shadow-color: rgba(28, 27, 26, 0.07);
$gray-color: rgba(28, 27, 26, 0.05);
$line-color: rgba(28, 27, 26, 0.1);
$blue-color: #2985f7;

$table: url('img/tableview.png') no-repeat 100% 100%;
$card: url('img/cardview.png') no-repeat 100% 100%;
$gray: url('img/star-gray.png') repeat;
$gold: url('img/star-gold.png') repeat;
$info: url('img/info-icon.png') no-repeat 100% 100%;
$mmenu: url('img/butger.png') no-repeat 100% 100%;


$mediam: 'screen and (min-width: 992px) and (max-width: 1200px)';
$medias: 'screen and (min-width: 768px) and (max-width: 991px)';
$mediaxs: 'screen and (max-width: 767px)';



